@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');

body {
    font-family: 'Roboto', 'Raleway', sans-serif;
}

a{
    text-decoration: none;
}
.main-logo{
    color: #212121;

}
.header-contacts a{
    color: #757575;
}

.header-nav a{
    color: #212121;
}


button{
    background-color: #F5F4FA;
}


a:focus, a:hover, .main-footer p:hover {
    color: #2196F3;

}

button:hover, button:focus{
    background-color: #2196F3;
    color: #fff;
}

.main-footer {
    background-color: #2F303A;
    color: #fff;
}

.bottom-logo{
    color: #fff;
}

.bottom-link-60 {
    color: rgba(255, 255, 255, 0.60);

}


/* 
212121 link
2196F3 active link

757575

*/