
:root{

    /* 
    main bule 2196F3
    main white fff
    main black 212121
    main gray 757575
    white-60 fff 60%
    btn-bg F5F4FA
    gallery-li-border-color EEEEEE
    header-border-color ECECEC
    */
--main-blue: #2196F3;
--main-white: #fff;
--main-black: #212121;
--main-gray: #757575;
--white-60: rgba(255, 255, 255, 0.60);
--btn1-bg: #F5F4FA;
--gallery-li-border-color: #EEEEEE;
--header-border-color: #ECECEC;


}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: "Roboto", sans-serif;
    color: var(--main-black);
}

.main-haeder{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    border: var(--header-border-color) 1px solid;
    font-size: 14px;

}

.link {
    color: var(--main-black);
    text-decoration: none;
}

.link:hover{
color: var(--main-blue);
}

.main-logo-link{
font-family: Raleway, sans-serif;
font-size: 26px;
font-weight: bold;
}

.main-nav ul{
list-style: none;
}
.main-nav li{
display: inline-block;
padding: 10px 10px;
margin-inline: 10px;
    }

.header-contacts a {
color: var(--main-gray);
padding: 10px 10px;
margin-inline: 10px;
}

.main{
    width: 90%;
    margin-inline: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
.buttons ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin-bottom: 50px;
}
.btn1{
    border: none;
    background-color: var(--btn1-bg);
    font-size: 16px;
    height: 38px;
    padding: 10px 25px;
    margin: 0 5px;
}

.btn1:hover {
    background-color: var(--main-blue);
    color: var(--main-white);
}

.gallery ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type:none;
}

.gallery li{
    display: block;
    border: var(--gallery-li-border-color) solid 1px;
    width: 370px;
    height: 404px;
    margin-bottom: 30px;

}

.gallery h3, .gallery p{
padding: 10px 20px;

}



.bottom-link-60 {
    color: rgba(255, 255, 255, 0.60);

}


/* 
212121 link
2196F3 active link

757575

*/